/* css for fira sans font */

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* .fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}


.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
} */

/* Shared Style */
*{
    margin: 0;
    padding: 0;
}

.heading-primary{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}


.heading-secondary{
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
}


.logo{
    font-weight: bold;
    font-size: 32;
}

main{
    width: 1280px;
    margin: 0 auto;
    padding: 0;
}


.btn-type-1{
    padding: 17px 34px;
    font-size: 18;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #006A50;
    color: #FFFFFF;
}

.btn-type-2{
    padding: 13px 26px;
    font-size: 18;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #006A50;
    color: #FFFFFF;
}


.button-type3{
    padding: 11px 20px;
    font-size: 16;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #5490F5;
    color: #FFFFFF;
}

/* nav bar style */
nav{
    /* max-width: 1280px; */
    padding: 0 160px;
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.top-logo{
    margin: 31px 0;
}

.sign-up-btn{
    margin: 24px 0;
    padding: 15px 30px;
    font-size: 18;
    font-weight: 600;
    border-radius: 8px;
    border-width: 1px solid #006A50;
    border-color: #006A50;
    color: #006A50;
}


/* banner section style */

.banner{
    max-width: 1280px;
    display: flex;
    align-items: center;
    margin: 20px auto 0;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
}

.banner-content{
    margin-left: 59.99px;
}

.banner-image{
    margin: 80px 59.99px;
    margin-left: 0;
}

.banner-logo{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}


.banner-heading{
    font-size: 56px; 
    margin-right: 64px;
    margin-top: 16px;
}

.banner-btn{
    margin-top: 24px;
}

/* pillar section style */

.pillar-section{
    margin-top: 80px;
}

.pillar-img{
    margin-bottom: 24px;
}


.pillars{
    margin-top: 32px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.pillar-title{
    margin-top: 12px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.pillar{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px;
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 10px black;
}

/* vision section style */

.vision{
    margin-top: 80px;
}

.vision-cards{
    margin-top: 32px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.card-img{
    margin-bottom: 24px;
}

.card{
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 275px;
}


.vision-card1{
    background-color: rgba(84, 144, 245, 0.2);
}

.vision-card2{
    background-color: rgba(9, 161, 92, 0.2);
}

.vision-card3{
    background-color: rgba(255, 194, 57, 0.2);
}

.card-btn-1{
    width: 122px;
}

.card-btn-2{
    width: 122px;
    background-color: #09A15C;
}

.card-btn-3{
    width: 122px;
    background-color: #FFC239;
}


/* Qoute section style */

.qoute{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    padding: 25px 24px;
    background-origin: content-box;
    margin-top: 32px;
}

.qoute-des{
    margin-top: 23px;
    line-height: 24px;
}

.qoute-man{
    margin-top: 12px;
}

.qoute-desig{
    margin-top: 0;
    margin-bottom: 23px;
}
